.body__description {
    position: absolute;
    z-index: 100000;
    right: 3px;
    font-family: 'Score';
    transition: opacity 3s;
    top: 31px;
    text-transform: uppercase;
}

.info__description {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
}

.vl__description {
    color: #4682B4;
}

.dm__description {
    color: #B22222;
}