.score, .record{
    font-family: 'Score';
    text-transform: uppercase;
}
.score{
    color: gray;
    margin-left: 10px;
}
.board__score{
    top: 1px;
    left: 1px;
    margin-top: 1px;
    position: absolute;
    text-align: center;
    transition: opacity 1s;
}