.score, .record{
    font-family: 'Score';
    text-transform: uppercase;
    font-size: 1.5rem;
}
.score{
    color: gray;
}
.board__score{
    top: 3px;
    position: absolute;
    text-align: center;
    transition: left 1s, top 1s;
    line-height: 1.4rem;
    justify-content: space-between;
    display: flex;
}