.start__menu{
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    width: 20vw;
    left: 40vw;
    height: 14vh;
    transition: top 1s;
}

.start__menu__submit{
    border: solid 2px;
    background-color: white;
    width: 8vw;
}

.start__menu__title{
    font-family:  'Score';
    text-transform: uppercase;
    transition: font-size 1s;
}